<body class="bg-cover">
    <nav class="navbar navbar-dark navbar-expand-lg navbar-light sticky-top ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mx-auto  mt-lg-0 ">
                <li class="nav-item active">
                    <!-- <a class="nav-link" href="#Events">Upcoming Events
                        <span class="sr-only">(current)</span>
                    </a> -->
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard" tabindex="-1" aria-disabled="true">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/upcoming">Upcoming Events</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/calendar">Calendar Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/vendors">Vendors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add">ADD EVENT</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="col mb-5">
            <div class="row center">
                <h5 class="text-uppercase text-center m-2">
                    <strong>Calendar</strong>
                </h5>
            </div>
            <div class="row center">
                <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=5r47e14trppa1g8fsr12b4qng4%40group.calendar.google.com&amp;color=%2323164E&amp;ctz=America%2FLos_Angeles"
                    style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
</body>