<body class="bg-cover">
    <div class="add-body">
        <section id="add" class="container col-lg-8 col-lg-offset-2">
            <div class="white-body">
                <div class="form-wrap">
                    <div class="row">
                        <div class="col-lg-12 top-gig">
                            <h1 style="color: white">CALENDAR</h1>
                        </div>
                        <div class="row center">
                            <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=5r47e14trppa1g8fsr12b4qng4%40group.calendar.google.com&amp;color=%2323164E&amp;ctz=America%2FLos_Angeles"
                                style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>