<body class="bgLogin">
  <div class="container">

    <div class="row all">
      <div class="col-lg-6 col-lg-offset-3 all">
        <div class="op-b">
          <div class="logo-area">
            <img class="logo" src="styles/images/Bookgiggidy.png" />
          </div>
          <div class="outside">
            <div class="login">
              <!-- <p class="ftitle"><span class="glyphicon glyphicon-user"></span>Username</p> -->
              <input class="form-control form-control-sm name-input" type="text" placeholder="User name" style="background-color: rgb(248, 248, 248); border-radius: 5px; border: none; margin-bottom: 10px; margin-top: 10px">
              <!-- <p class="ftitle"><span class="glyphicon glyphicon-lock"></span>Password</p> -->
              <input class="form-control form-control-sm" type="text" placeholder="Password" style="background-color: rgb(248, 248, 248); border-radius: 5px; border: none">

              <a href="/survey"><button type="button" class="btn btn-danger joinbtn">Submit</button></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>
</body>