<body class="bg-cover">
    <div class="add-body">
        <section id="add" class="container col-lg-8 col-lg-offset-2">
            <div class="white-body">
                <div class="form-wrap">
                    <div class="row">
                        <div class="col-lg-12 top-gig">
                            <h1 style="color: white">VENDORS</h1>
                        </div>
                    </div>
                    <ul class="list-group">
                        {{#each examples}}
                        <li data-id="{{this.id}}" class="list-group-item">
                            <div><strong>Vendor:</strong> {{this.vendor}}</div>
                            <div> 1234 Any Street, Suite 900</div>
                            <div> City, State 12345 </div>
                            <div><a href="tel:0-123-456-7890">0-123-456-7890</a></div>
                            <div><a href="mailto:{{this.vendoremail}}">{{this.vendoremail}}</a></div>
                            </address>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <a href="/dashboard"><button class="btn btn-primary add-btn">Dashboard</button></a>
            </div>
        </section>
    </div>
</body>